menu "BSP DISPLAY Setup"
    config BSP_DISPLAY_ENABLED
        bool "Enable display functions"
    
    if BSP_DISPLAY_ENABLED
        config H_SIZE
            int "Horizontal Resolution"
            default 1024

        config V_SIZE
            int "Vertical Resolution"
            default 600
      
        config BITS_PER_PIXEL
            int "Color depth"
            default 16

        config LCD_GPIO_RESET
            int "GPIO For LCD RESET"
            default 5

        config LCD_GPIO_BLIGHT
            int "GPIO For LCD BACKLIGHT"
            default 20

        config LCD_GPIO_UPDN
            int "GPIO For LCD UPDN"
            default 32

        config LCD_GPIO_SHLR
            int "GPIO For LCD SHLR"
            default 33

        config BLIGHT_PWM_Hz
            int "the PWM output HZ"
            default 30000

        config DISPLAY_LVGL_FULL_REFRESH
            bool "Enable fullscreen refresh"

        config DISPLAY_LVGL_DIRECT_MODE
            bool "Use screen-sized buffers"
        
        config DISPLAY_LVGL_AVOID_TEAR
            bool "Enable to avoid fragmentation"
    endif
    
endmenu